<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Home</title>
    <style>tr {
        border-bottom: 1px solid black;
    }

    .cover-image {
        width: 50px;
    }

    #log {
        height: 300px !important;
    }

    img {
        margin-right: 10px;
        object-fit: cover;
        height: 50px;
    }

    title {
        max-width: 0;
    }
    </style>
    <script>

        function add_log_entry(content, prepend, tr_id, tr_class, tr_style, tr_attributes) {
            $.post("/format_log_entry", {
                    "content": content,
                    "tr_id": tr_id,
                    "tr_class": tr_class,
                    "tr_style": tr_style,
                    "tr_attributes": tr_attributes
                }
            ).done((new_html) => {
                if (prepend) {
                    $("#log-item-container").prepend(new_html);
                } else {
                    $("#log-item-container").append(new_html);
                }
            });
        }

        /**
         * Hides the progress bar showing read progress and instead shows the edit menu.
         * Swaps the edit button for the save button.
         * @param tr_id The ID of the table row that needs to swap items.
         */
        function bring_up_edit_menu(tr_id) {
            let show_now = document.getElementById(tr_id + "-edit");
            let show_btn = document.getElementById(tr_id + "-submit-btn")
            let show_btn2 = document.getElementById(tr_id + "-cancel-btn")
            let hide_now = document.getElementById(tr_id + "-progress");
            let hide_btn = document.getElementById(tr_id + "-edit-btn");
            let hide_btn2 = document.getElementById(tr_id + "-fill-btn");
            show_now.removeAttribute("style");
            show_btn.removeAttribute("style");
            show_btn2.removeAttribute("style");
            hide_now.style.display = "none";
            hide_btn.style.display = "none";
            hide_btn2.style.display = "none";
        }

        function cancel_edit(tr_id) {
            let hide_now = document.getElementById(tr_id + "-edit");
            let hide_btn = document.getElementById(tr_id + "-submit-btn");
            let hide_btn2 = document.getElementById(tr_id + "-cancel-btn");
            let show_btn = document.getElementById(tr_id + "-edit-btn");
            let show_btn2 = document.getElementById(tr_id + "-fill-btn");
            let progress_container = document.getElementById(tr_id + "-progress");
            progress_container.removeAttribute("style");
            show_btn.removeAttribute("style");
            show_btn2.removeAttribute("style");
            hide_now.style.display = "none";
            hide_btn.style.display = "none";
            hide_btn2.style.display = "none";
        }

        /**
         * Submit the edited values to be committed to the Postgres database and gets the new progressbar.
         * @param tr_id The ID of the table row that had an edit.
         * @param total Total chapters
         */
        function submit_edit(tr_id, total) {
            let progress_container = document.getElementById(tr_id + "-progress");
            let new_value = document.getElementById(tr_id + "-edit-input").value;
            $.post("/update/" + tr_id, {"read": new_value}).done((new_html) => {
                progress_container.innerHTML = new_html;
                add_log_entry('Edited manga <a href="#' + tr_id + '">#' + tr_id + '</a>. Read ' + new_value + ' out ' +
                    'of ' + total + ' ' + 'chapters.', false, undefined, "text-success border-bottom border-success");
            }).fail(() => {
                add_log_entry('Unable to edit manga <a href="#' + tr_id + '">#' + tr_id + '</a>. Attempted to set ' +
                    'value ' + '<code>read</code> to ' + new_value + ' out of ' + total + ' chapters.', false,
                    undefined, "text-danger border-bottom border-danger")
            }).always(() => {
                cancel_edit(tr_id);
            });
        }

        function refresh(tr_id) {
            let row_container = document.getElementById(tr_id);
            $.post("/update/" + tr_id, {"refresh_data": true}).done((new_html) => {
                row_container.innerHTML = new_html;
                add_log_entry('Refreshed manga <a href="#' + tr_id + '">#' + tr_id + '</a>.', false,
                    undefined, "text-success border-bottom border-success");
            }).fail(() => {
                add_log_entry('Unable to refresh manga <a href="#' + tr_id + '">#' + tr_id + '</a>.',
                    false, undefined, "text-danger border-bottom border-danger");
            });
        }

        function one(tr_id, sign) {
            let progress_container = document.getElementById(tr_id + "-progress");
            let input = document.getElementById(tr_id + "-edit-input");
            $.post("/update/one/" + sign + "/" + tr_id, null, "json").done((data) => {
                progress_container.innerHTML = data.html;
                input.value = data.read;
                add_log_entry('Edited manga <a href="#' + tr_id + '">#' + tr_id + '</a>. Read ' + data.read + ' ' +
                    'chapters. Sign ' + 'operation: ' + sign, false, undefined, "text-success border-bottom border-success");
            }).fail(() => {
                add_log_entry('Unable to edit manga <a href="#' + tr_id + '">#' + tr_id + '</a>. Sign operation: ' +
                    sign, false, undefined, "text-danger border-bottom border-danger");
            });
        }


        function fill(tr_id) {
            let progress_container = document.getElementById(tr_id + "-progress");
            let input = document.getElementById(tr_id + "-edit-input");
            $.post("/update/fill/" + tr_id, null, "json").done((data) => {
                progress_container.innerHTML = data.html;
                input.value = data.read;
                add_log_entry('Filled manga <a href="#' + tr_id + '">#' + tr_id + '</a>. Read ' + data.read + ' out ' +
                    'of ' + data.read + ' ' + 'chapters.', false, undefined, "text-success border-bottom border-success");
            }).fail(() => {
                add_log_entry('Unable to fill manga <a href="#' + tr_id + '">#' + tr_id + '</a>.', false, undefined,
                    "text-danger border-bottom border-danger");
            });
        }

        /**
         * Base function for functions. They have the same syntax except for one word.
         * @param element The DOM element that represents the complete/completed button.
         * @param word The word to request.
         * @param parentNodeCount The amount of parents to get to the parent containing the manga id
         */
        function word_action_base(element, word, parentNodeCount) {
            parent = element
            for (i = 0; i < parentNodeCount; i++) {
                parent = parent.parentNode;
            }

            $.get("/" + word + "/" + parent.id).done((new_html) => {
                element.parentNode.innerHTML = new_html;
                add_log_entry('Ran action ' + word + ' on manga <a href="#' + parent.id + '">#' + parent.id + '</a>.', false,
                    undefined, "text-success border-bottom border-success");
            }).fail(() => {
                add_log_entry('Unable to run action ' + word + ' on manga <a href="#' + parent.id + '">#' + parent.id + '</a>.',
                    false, undefined, "text-danger border-bottom border-danger");
            });
        }

        /**
         * Mark a manga as completed.
         * @param element The DOM element representing the complete button.
         */
        function complete(element) {
            word_action_base(element, "complete", 2);
        }

        /**
         * Mark a manga as incomplete.
         * @param element The DOM element representing the completed button.
         */
        function uncomplete(element) {
            word_action_base(element, "uncomplete", 2);
        }

        function hide(element) {
            word_action_base(element, "hide", 3)
        }

        function unhide(element) {
            word_action_base(element, "unhide", 3)
        }

        /**
         * Update the progress bar for the server-side "update_all" function.
         * @param updated The amount of mangas that have been updated.
         * @param total The total amount of mangas.
         */
        function replace_data(updated, total) {
            let difference = (updated / total) * 100;
            let progress_bar = document.getElementById("update-all-progress");
            progress_bar.style.width = difference + "%";
            progress_bar.setAttribute("aria-valuenow", updated);
            progress_bar.setAttribute("aria-valuemax", total);
            progress_bar.innerText = updated + " out of " + total;
        }

        function update_all_core() {
            $.get("/update_status", null, "json").always(function parse_response(jqXHR, response_data) {
                replace_data(jqXHR.responseJSON.updated, jqXHR.responseJSON.total);
            }).done((jqXHR, response_data) => {
                setTimeout(update_all_core, 300);
            }).fail(function finish(jqXHR, response_data) {
                add_log_entry("Updating All: Completed!", false, undefined, "text-success border-bottom border-success");
                setTimeout(() => {
                    location.reload();
                }, 3000);
            })
        }

        function update_all() {
            $.get("/update_all").done(() => {
                add_log_entry("Started Update All", false, undefined, "text-info border-bottom border-info");
                add_log_entry('<div class="progress">' +
                    '<div class="progress-bar progress-bar-striped progress-bar-animated" id="update-all-progress" style="width:' +
                    '" aria-valuemin="0" aria-valuemax="0" aria-valuenow="0">0 out of 0' +
                    '</div></div>', false, "update-all-container", "align-self-center align-items-center align-content-center " +
                    "text-center text-info border-bottom border-info");
                update_all_core();
            });
        }

        function auto_complete() {
            add_log_entry("Started Auto Complete", false, undefined, "text-info border-bottom border-info");
            $.get("/auto_complete").done(() => {
                add_log_entry("Auto Complete: Completed!", false, undefined, "text-success border-bottom border-success");
                setTimeout(() => {
                    location.reload();
                }, 3000);
            });
        }

        function update_from_mangadex() {
            add_log_entry("Started Update From Mangadex", false, undefined, "text-info border-bottom border-info");
            $.get("/update_from_mangadex").done(() => {
                add_log_entry("Update From Mangadex: Completed!", false, undefined, "text-success border-bottom border-success");
                setTimeout(() => {
                    location.reload();
                }, 3000);
            });
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">MangaDex Entry Viewer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if all_page %}active{% endif %}">
                <a class="nav-link" href="/all">All</a>
            </li>
            <li class="nav-item {% if incomplete %}active{% endif %}">
                <a class="nav-link" href="/incomplete">Incomplete</a>
            </li>
            <li class="nav-item {% if to_read %}active{% endif %}">
                <a class="nav-link" href="/to_read">To Read</a>
            </li>
            <li class="nav-item {% if hidden %}active{% endif %}">
                <a class="nav-link" href="/hidden">Hidden</a>
            </li>
        </ul>
    </div>
</nav>

<h1 class="text-center">MangaDex Entries</h1>
<div class="align-self-center align-items-center align-content-center text-center">
    <button class="btn btn-primary" onclick="auto_complete();">Auto Complete</button>
    <button class="btn btn-warning" onclick="update_all();">Update All</button>
    <button class="btn btn-warning" onclick="update_from_mangadex();">Update From MangaDex</button>
</div>
<div id="log-container" style="margin: 2%;"
     class="align-self-center">
    <div class="card">
        <div class="card-header" id="log-card-header">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#log" aria-expanded="true"
                        aria-controls="log">
                    Actions Log
                </button>
            </h5>
        </div>
        <div id="log" class="card-body collapse show" style="overflow: scroll;"
             aria-labelledby="log-card-header" data-parent="#log-container">
            <table style="width: 100%;" id="log-table">
                <colgroup>
                    <col style="width: 10%">
                    <col style="width: 90%">
                </colgroup>
                <thead>
                <tr class="text-center align-items-center align-content-center">
                    <td>Timestamp</td>
                    <td>Content</td>
                </tr>
                </thead>
                <tbody id="log-item-container">
                </tbody>
            </table>
        </div>
    </div>
</div>
<p class="text-center">There are {{ len(data) }} manga entries on this page.</p>
<table style="width: 98%; margin: 1%; text-align: center;"
       class="text-center align-content-center align-items-center align-self-center">
    <colgroup>
        <col style="width: 2%;">
        <col style="width: 40%;">
        <col style="width: 12%;">
        <col style="width: 2%;">
        <col style="width: 2%;">
        <col style="width: 8%;">
        <col style="width: 35%;">
    </colgroup>
    <thead>
    <tr>
        <td>#</td>
        <td>Manga Title</td>
        <td>Reading Status</td>
        <td>+</td>
        <td>-</td>
        <td>Completed</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    {% for manga_id, title, cover_url, read, total, completed, user_completed, hidden in data %}
        {% include "row.html" %}
    {% endfor %}
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>
